<p>this is for graduation</p> 
<div class="card-box">
    <div class="user-box">
        <div class="user-name">
            {{username}}
        </div>
    </div>
    <div class="name-card">
        <div class="welcome">
            <div class="follow">
            长按识别二维码关注
            </div>
            <div class="wechat-name">
            改变从整理开始
            </div>
            <div class="slogon">
            在这里，开启你全新的人生
            </div>
        </div>
        <div class="wechat-qrcode">
            <img class="qrcode" width=30% src="../../../assets/images/qrcode_wechat.jpg">
        </div>
    </div>
</div>