@import '../../../theme-default.less';
.card-box {
    padding-top: 70px;
    width: 350px;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    font-family: @default-font-family;
}
.user-name {
    font-size: 16px;
    position: center;
}
.report-box {
    font-size: 14px;
    background: rgb(17, 108, 145);
    height: 200px;
}
.complete-descrip {
    float: left;
}
.result-descrip {
    float: right;
}
.name-card {
    display: block;
    height: 80px;
    background: peru;
    padding: 10px 10px;
}
.welcome {
    float: left;
    font-size: 14px;
    margin: 0;
    text-align: center;
}
.follow {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.wechat-name {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}
.slogon {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}
.wechat-qrcode {
    float: right;
    padding: 5px 5px;
}
.qrcode {
    float: right;
}
