<div class="user-component"> 
    <div class="user-block">
        <div class="user-top"></div>
        <div class="user-head">
            <span class="user-avatar">
                <img class="gender-img" src="../../../assets/images/female.png">
            </span>
        </div>
        <div class="user-info">
            <div class="user-name">{{username}}</div>
            <div class="user-city">
                <span *ngFor="let item of usercity"> {{item}} </span>
            </div>
        </div>
        <div class="user-data">
            <div class="followed-block">
                <div class="number">{{followed}}</div>
                <div class="desc">粉丝</div>
            </div>
            <div class="moments-block">
                    <div class="number">{{moments}}</div>
                    <div class="desc">动态</div>
                </div>
            <div class="following-block">
                <div class="number">{{following}}</div>
                <div class="desc">关注</div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="organizing-diary">
            <div class="diary-head">整理日记</div>
            <div class="diary-block">
                <div class="training-wrap"></div>
            </div>
        </div>
    </div>
</div>