.user-block {
    margin: 0 auto;
    width: 768px;
}

.user-top {
    height: 130px; 
    display: block;
    background-color:black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}