<div class="login-component">
    <div class="login-container">
        <div class="login-box">
            <div class="mainTtile"> 改变从整理开始 </div>
            <form class="general-form ">
                <div class="long form-group">
                    <span class="input-group-addon">
                        <img src="../../../assets/images/username.png" alt="x" align="middle">
                    </span>
                    <label for="username_or_email" class="control-label"></label>
                    <input type="text" name="username_or_email" placeholder="用户名 / 邮箱" id="username_or_email" class="form-control">
                </div>
                <div class="long form-group">
                    <span class="input-group-addon">
                        <img src="../../../assets/images/lock.png" alt="x" align="middle">
                    </span>
                    <label for="password" class="control-label"></label>
                    <input type="password" name="password" placeholder="密码" id="password" class="form-control">
                </div>
                <div class="button-component">
                    <input type="submit" class="btn btn-primary" value="登录">
                </div>
                <a class="forget-password" href="/reset_password/step_one">忘记密码?</a>
                <a class="register" href="/register">立即注册</a>
                </form>
        </div>
    </div>
</div>